# Rajbir Singh Kaura
# 101903775
# COE1

In [1]:
import pandas as pd
df = pd.read_excel("/content/DATASET.xlsx")
df

/usr/local/lib/python3.7/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
/usr/local/lib/python3.7/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

,Unnamed: 0,year,Para-1,Para-2,Para-3,Para-4,Para-5,Para-6,Para-7,Para-8,Para-9,Para-10,Para-11,Para-12,Para-13
0,Sec_1,1,324.0,354.5,17.0,0.0,3,117,2600,400,0.0,0.0,0.0,0,1.520
1,NaN,2,324.0,161.1,18.2,0.0,4,106,5950,1190,0.0,3.4,0.0,0,1.620
2,NaN,3,324.0,170.7,18.5,0.0,4,110,5950,1190,0.0,21.3,0.0,4,1.680
3,NaN,4,324.0,223.9,18.9,0.0,3,110,6150,1340,0.0,21.3,0.0,5,1.780
4,NaN,5,324.0,228.2,18.4,0.0,2,113,6340,1450,0.0,23.9,0.0,7,1.800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,NaN,6,454.0,931.8,13.6,125.0,13,116,4150,830,15.1,1.8,1.0,15,1.681
1005,NaN,7,454.0,703.0,14.5,17.0,13,118,4150,830,24.6,7.9,2.0,15,1.838
1006,NaN,8,454.0,1124.1,14.9,45.0,18,117,4200,840,119.0,15.7,2.0,16,1.862
1007,NaN,9,454.0,1462.3,13.2,62.0,27,117,4400,720,138.2,30.5,6.0,18,1.883
1008,NaN,10,454.0,986.3,14.3,67.0,24,122,4415,721,293.0,39.8,7.0,18,1.889

In [2]:
test_df = df[df.year == 10]
test_df = test_df.reset_index()
test_df.drop(columns=['index', 'Unnamed: 0'], inplace=True)
test_df

,year,Para-1,Para-2,Para-3,Para-4,Para-5,Para-6,Para-7,Para-8,Para-9,Para-10,Para-11,Para-12,Para-13
0,10,324.0,53.6,19.0,0.0,2,105,7567,1885,16.8,105.0,65.0,9,1.960
1,10,327.7,62.0,22.7,0.0,2,102,30525,10234,76.5,44.3,5.0,9,0.795
2,10,487.7,93.2,22.5,0.0,4,110,2140,1270,78.5,0.0,0.0,16,1.432
3,10,543.6,93.2,22.5,0.0,4,110,2140,1270,28.5,60.5,67.0,11,2.004
4,10,434.4,149.0,11.7,72.0,3,110,13142,6225,0.0,276.2,34.0,6,1.792
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,10,514.0,1226.4,10.1,203.6,16,114,7672,303,219.7,206.2,10.0,8,1.607
96,10,901.0,1531.0,11.1,34.9,40,100,15150,1077,5.9,74.5,33.0,13,1.087
97,10,1181.0,1364.9,9.2,274.3,24,112,12500,880,131.4,72.4,18.0,12,0.996
98,10,662.0,1110.7,12.8,33.2,27,117,3324,1356,193.7,305.6,180.0,12,2.212
99,10,454.0,986.3,14.3,67.0,24,122,4415,721,293.0,39.8,7.0,18,1.889

In [3]:
# dropping section 92 as target row is not there 
df.drop([910, 911, 912, 913, 914, 915, 916, 917, 918], axis=0, inplace=True)
df

,Unnamed: 0,year,Para-1,Para-2,Para-3,Para-4,Para-5,Para-6,Para-7,Para-8,Para-9,Para-10,Para-11,Para-12,Para-13
0,Sec_1,1,324.0,354.5,17.0,0.0,3,117,2600,400,0.0,0.0,0.0,0,1.520
1,NaN,2,324.0,161.1,18.2,0.0,4,106,5950,1190,0.0,3.4,0.0,0,1.620
2,NaN,3,324.0,170.7,18.5,0.0,4,110,5950,1190,0.0,21.3,0.0,4,1.680
3,NaN,4,324.0,223.9,18.9,0.0,3,110,6150,1340,0.0,21.3,0.0,5,1.780
4,NaN,5,324.0,228.2,18.4,0.0,2,113,6340,1450,0.0,23.9,0.0,7,1.800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,NaN,6,454.0,931.8,13.6,125.0,13,116,4150,830,15.1,1.8,1.0,15,1.681
1005,NaN,7,454.0,703.0,14.5,17.0,13,118,4150,830,24.6,7.9,2.0,15,1.838
1006,NaN,8,454.0,1124.1,14.9,45.0,18,117,4200,840,119.0,15.7,2.0,16,1.862
1007,NaN,9,454.0,1462.3,13.2,62.0,27,117,4400,720,138.2,30.5,6.0,18,1.883
1008,NaN,10,454.0,986.3,14.3,67.0,24,122,4415,721,293.0,39.8,7.0,18,1.889

In [4]:
df = df.reset_index()
df.drop(columns=['Unnamed: 0'], inplace=True)
df

,index,year,Para-1,Para-2,Para-3,Para-4,Para-5,Para-6,Para-7,Para-8,Para-9,Para-10,Para-11,Para-12,Para-13
0,0,1,324.0,354.5,17.0,0.0,3,117,2600,400,0.0,0.0,0.0,0,1.520
1,1,2,324.0,161.1,18.2,0.0,4,106,5950,1190,0.0,3.4,0.0,0,1.620
2,2,3,324.0,170.7,18.5,0.0,4,110,5950,1190,0.0,21.3,0.0,4,1.680
3,3,4,324.0,223.9,18.9,0.0,3,110,6150,1340,0.0,21.3,0.0,5,1.780
4,4,5,324.0,228.2,18.4,0.0,2,113,6340,1450,0.0,23.9,0.0,7,1.800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1004,6,454.0,931.8,13.6,125.0,13,116,4150,830,15.1,1.8,1.0,15,1.681
996,1005,7,454.0,703.0,14.5,17.0,13,118,4150,830,24.6,7.9,2.0,15,1.838
997,1006,8,454.0,1124.1,14.9,45.0,18,117,4200,840,119.0,15.7,2.0,16,1.862
998,1007,9,454.0,1462.3,13.2,62.0,27,117,4400,720,138.2,30.5,6.0,18,1.883
999,1008,10,454.0,986.3,14.3,67.0,24,122,4415,721,293.0,39.8,7.0,18,1.889

In [5]:
df.drop(columns=['index'], inplace=True)
df

,year,Para-1,Para-2,Para-3,Para-4,Para-5,Para-6,Para-7,Para-8,Para-9,Para-10,Para-11,Para-12,Para-13
0,1,324.0,354.5,17.0,0.0,3,117,2600,400,0.0,0.0,0.0,0,1.520
1,2,324.0,161.1,18.2,0.0,4,106,5950,1190,0.0,3.4,0.0,0,1.620
2,3,324.0,170.7,18.5,0.0,4,110,5950,1190,0.0,21.3,0.0,4,1.680
3,4,324.0,223.9,18.9,0.0,3,110,6150,1340,0.0,21.3,0.0,5,1.780
4,5,324.0,228.2,18.4,0.0,2,113,6340,1450,0.0,23.9,0.0,7,1.800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,6,454.0,931.8,13.6,125.0,13,116,4150,830,15.1,1.8,1.0,15,1.681
996,7,454.0,703.0,14.5,17.0,13,118,4150,830,24.6,7.9,2.0,15,1.838
997,8,454.0,1124.1,14.9,45.0,18,117,4200,840,119.0,15.7,2.0,16,1.862
998,9,454.0,1462.3,13.2,62.0,27,117,4400,720,138.2,30.5,6.0,18,1.883
999,10,454.0,986.3,14.3,67.0,24,122,4415,721,293.0,39.8,7.0,18,1.889

In [7]:
# Creating separate dataframes for each section for ease of use

sec = 1
for i in range(0, len(df), 10):
    new_df = pd.DataFrame(columns=['year',	'Para-1',	'Para-2',	'Para-3',	'Para-4',	'Para-5',	'Para-6',	'Para-7',	'Para-8',	'Para-9',	'Para-10',	'Para-11',	'Para-12',	'Para-13'])
    for j in range(0, 10):
        row = df.loc[i+j, :]
        new_df = new_df.append(row)
        new_df.to_csv("/content/sections/sec"+str(sec)+".csv", index=False)
    sec = sec+1
    if (sec == 92):
        sec = sec+1

In [8]:
# Importing all required libraries

import numpy as np
import pandas as pd
from math import sqrt
import matplotlib.pyplot as plt
from lightgbm import LGBMRegressor
from sklearn.metrics import mean_squared_error
from statsmodels.graphics.tsaplots import plot_acf
from statsmodels.tsa.seasonal import seasonal_decompose

In [9]:
# Creating model, training and predicting on test data

def train_time_series_with_folds(temp_df, section, horizon=1):
    x = temp_df.drop(columns=['Para-9', 'Para-10',	'Para-11',	'Para-12',	'Para-13'], axis=1)
    y = temp_df['Para-9']

  # Take 10th year of dataset for validation
    x_train, x_test = x.iloc[:-horizon, :], x.iloc[-horizon:, :]
    y_train, y_test = y.iloc[:-horizon], y.iloc[-horizon:]

    model = LGBMRegressor(random_state=42)
    model.fit(x_train, y_train)
    predictions = model.predict(x_test)
    rmse = np.round(sqrt(mean_squared_error(y_test, predictions)), 3)

    actual = y_test.values
    rmse_df = pd.DataFrame(columns=['Para-9', 'Para-10',	'Para-11',	'Para-12',	'Para-13'])
    rmse_df.loc[0, 'Para-9'] = actual[0]
    rmse_df.loc[1, 'Para-9'] = np.round(predictions[0], 3)
    rmse_df.loc[2, 'Para-9'] = rmse
    rmse_df.to_csv("/content/RMSE_comparisons/sec"+str(section)+".csv", index=False)

In [10]:
def train_time_series_with_folds_2(temp_df, section, horizon=1):
    x = temp_df.drop(columns=['Para-9', 'Para-10',	'Para-11',	'Para-12',	'Para-13'], axis=1)
    y = temp_df['Para-10']

  # Take 10th year of dataset for validation
    x_train, x_test = x.iloc[:-horizon, :], x.iloc[-horizon:, :]
    y_train, y_test = y.iloc[:-horizon], y.iloc[-horizon:]

    model = LGBMRegressor(random_state=42)
    model.fit(x_train, y_train)
    predictions = model.predict(x_test)
    rmse = np.round(sqrt(mean_squared_error(y_test, predictions)), 3)

    actual = y_test.values
    rmse_df = pd.read_csv("/content/RMSE_comparisons/sec"+str(section)+".csv")
    rmse_df.loc[0, 'Para-10'] = actual[0]
    rmse_df.loc[1, 'Para-10'] = np.round(predictions[0], 3)
    rmse_df.loc[2, 'Para-10'] = rmse
    rmse_df.to_csv("/content/RMSE_comparisons/sec"+str(section)+".csv", index=False)

In [11]:
def train_time_series_with_folds_3(temp_df, section, horizon=1):
    x = temp_df.drop(columns=['Para-9', 'Para-10',	'Para-11',	'Para-12',	'Para-13'], axis=1)
    y = temp_df['Para-11']

  # Take 10th year of dataset for validation
    x_train, x_test = x.iloc[:-horizon, :], x.iloc[-horizon:, :]
    y_train, y_test = y.iloc[:-horizon], y.iloc[-horizon:]

    model = LGBMRegressor(random_state=42)
    model.fit(x_train, y_train)
    predictions = model.predict(x_test)
    rmse = np.round(sqrt(mean_squared_error(y_test, predictions)), 3)

    actual = y_test.values
    rmse_df = pd.read_csv("/content/RMSE_comparisons/sec"+str(section)+".csv")
    rmse_df.loc[0, 'Para-11'] = actual[0]
    rmse_df.loc[1, 'Para-11'] = np.round(predictions[0], 3)
    rmse_df.loc[2, 'Para-11'] = rmse
    rmse_df.to_csv("/content/RMSE_comparisons/sec"+str(section)+".csv", index=False)

In [12]:
def train_time_series_with_folds_4(temp_df, section, horizon=1):
    x = temp_df.drop(columns=['Para-9', 'Para-10',	'Para-11',	'Para-12',	'Para-13'], axis=1)
    y = temp_df['Para-12']

  # Take 10th year of dataset for validation
    x_train, x_test = x.iloc[:-horizon, :], x.iloc[-horizon:, :]
    y_train, y_test = y.iloc[:-horizon], y.iloc[-horizon:]

    model = LGBMRegressor(random_state=42)
    model.fit(x_train, y_train)
    predictions = model.predict(x_test)
    rmse = np.round(sqrt(mean_squared_error(y_test, predictions)), 3)

    actual = y_test.values
    rmse_df = pd.read_csv("/content/RMSE_comparisons/sec"+str(section)+".csv")
    rmse_df.loc[0, 'Para-12'] = actual[0]
    rmse_df.loc[1, 'Para-12'] = np.round(predictions[0], 3)
    rmse_df.loc[2, 'Para-12'] = rmse
    rmse_df.to_csv("/content/RMSE_comparisons/sec"+str(section)+".csv", index=False)

In [13]:
def train_time_series_with_folds_5(temp_df, section, horizon=1):
    x = temp_df.drop(columns=['Para-9', 'Para-10',	'Para-11',	'Para-12',	'Para-13'], axis=1)
    y = temp_df['Para-13']

  # Take 10th year of dataset for validation
    x_train, x_test = x.iloc[:-horizon, :], x.iloc[-horizon:, :]
    y_train, y_test = y.iloc[:-horizon], y.iloc[-horizon:]

    model = LGBMRegressor(random_state=42)
    model.fit(x_train, y_train)
    predictions = model.predict(x_test)
    rmse = np.round(sqrt(mean_squared_error(y_test, predictions)), 3)

    actual = y_test.values
    rmse_df = pd.read_csv("/content/RMSE_comparisons/sec"+str(section)+".csv")
    rmse_df.loc[0, 'Para-13'] = actual[0]
    rmse_df.loc[1, 'Para-13'] = np.round(predictions[0], 3)
    rmse_df.loc[2, 'Para-13'] = rmse
    rmse_df.to_csv("/content/RMSE_comparisons/sec"+str(section)+".csv", index=False)

In [14]:
# Applying loop to apply model for all sections

for i in range(1, 102):
    if (i == 92):
        continue
    sec_df = pd.read_csv("/content/sections/sec"+str(i)+".csv")
    train_time_series_with_folds(sec_df, i)

In [15]:
for i in range(1, 102):
    if (i == 92):
        continue
    sec_df = pd.read_csv("/content/sections/sec"+str(i)+".csv")
    train_time_series_with_folds_2(sec_df, i)

In [16]:
for i in range(1, 102):
    if (i == 92):
        continue
    sec_df = pd.read_csv("/content/sections/sec"+str(i)+".csv")
    train_time_series_with_folds_3(sec_df, i)

In [17]:
for i in range(1, 102):
    if (i == 92):
        continue
    sec_df = pd.read_csv("/content/sections/sec"+str(i)+".csv")
    train_time_series_with_folds_4(sec_df, i)

In [18]:
for i in range(1, 102):
    if (i == 92):
        continue
    sec_df = pd.read_csv("/content/sections/sec"+str(i)+".csv")
    train_time_series_with_folds_5(sec_df, i)

In [19]:
# Function for making graphs for comparing actual and predicted values

import numpy as np
import matplotlib.pyplot as plt

list1 = []

def comparison_graph(rmse_df, section):
    mean_rmse = np.round(rmse_df.iloc[2, :].mean(axis=0), 3)
    list1.append(mean_rmse)
    line_1 = rmse_df.iloc[0, :]
    line_2 = rmse_df.iloc[1, :]
    fig, ax = plt.subplots()
    ax.plot(line_1, color = 'green', label = 'Actual')
    ax.plot(line_2, color = 'red', label = 'Predicted')
    plt.title("RMSE: "+str(mean_rmse))
    ax.legend()
    plt.savefig("/content/Plots/sec"+str(section)+".png")
    plt.close()

In [20]:
# Making graphs for all sections

for i in range(1, 102):
    if (i == 92):
        continue
    rmse_df = pd.read_csv("/content/RMSE_comparisons/sec"+str(i)+".csv")
    comparison_graph(rmse_df, i)

In [24]:
# Calculating final RMSE of the model

f_rmse = sum(list1)/len(list1)
print("RMSE: ", np.round(f_rmse, 3))

RMSE:  31.187